<app-header></app-header>
<div class="confirmation-container">


<div class="confirmation-items">
    <div class="confirmation-header">
        <h1>
            Sucsses! 🎉🎉🎉
        </h1>
        </div>
<div class="confirmation-item ">
    Thank You, {{fullName}}!
</div>   

<div class="confirmation-item">
Your {{price}}$ order is confirmed!
</div>

<div class="confirmation-item">
Please allow 1-3 bussiness day(s) for shipping 
</div>
<div class="confirmation-items back-btn">
    <a [routerLink]="['']">Product list </a>

</div>

</div>

</div>
